<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h2>Add a book!</h2>
    <form action='/books/addBook' method="post">
        {% csrf_token %}
        Title: <input type='text' name='title'>
        Author: <input type='text' name='author'>
        Review: <input type='text' name='review'>
        Rating: <select name="rating">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
          </select> stars
          <input type='submit' name='Add Book and Review'>          

    </form>
</body>
</html>