<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='homescreen.css') }}">
    </head>
    <body>
        <form action='/play' method="post">
            <div class="organizer">
                <h1>Welcome to the Great Number Game!</h1>
                <p>I am thinking of a number between 1 and 100</p>
                <p>Take a guess!</p>
                <input type="text" name="playtime">
                <input type="submit" value="Submit">
            </div>
        </form>
    </body>
    <div>

    </div>
</html>