<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        .color1 {
            height: 100px;
            width: 100px;
            background-color: blue;
        }

        .color2 {
            height: 100px;
            width: 100px;
            background-color: green;
        }
    </style>
</head>

<body>
    <table>
    {% for i in range(x//2) %}
        <tr>
        {% for i in range(y//2) %}
            <td class="color1"></td>
            <td class="color2"></td>
        {% endfor %}
        </tr>
        <tr>
        {% for i in range(y//2) %}
            <td class="color2"></td>
            <td class="color1"></td>
        {% endfor %}
        </tr>
    {% endfor %}
    </table>

</body>

</html>