<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Welcome to the Great Number Game!</h1><br>
    <p>Guess a number between 1 and 100</p>
    <p>{{session['count']}}</p><br>

    <form action='/users' method='post'>
        <input type='number' name='number'>
        <p>{{result}}</p>
        
    

    </form>
    

</body>
</html>