<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        div {
            height:100px;
            width: 100px;
            background-color: {{background_color}};
            display:inline-block;
            margin: 5px;
        }
    </style>
</head>

<body>
    {% for i in range(0,num): %}
    <div></div>
    {% endfor %}
    
</body>

</html>